.custom-card {
  width: 70%;

}
.small-header .p-card-title {
    font-size: 1em;
    font-size: medium;
  }

.grid {
    width: 100%;
    margin: 0;
}

.card {
    margin: 1rem 0;
}

/* Prevent horizontal scrolling */
body {
    overflow-x: hidden;
}

.data-table-responsive .p-datatable {
    width: 100%;
}
.copyable-text {
    cursor: pointer;
    color: #007bff;
    text-decoration: underline;
}

.copyable-text:hover {
    color: #0056b3;
}
